.input {
  background-color: #00ff00;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

.input::placeholder {
  color: rgb(255, 255, 255);
}

.button {
  cursor: pointer;
  color: white;
  background-color: #00ff00;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}
