.input {
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

.input::placeholder {
  color: rgb(255, 255, 255);
}

.button {
  display: flex;
  cursor: pointer;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}
